body {
    background: url(https://github.com/Creators-of-Create/Create/blob/mc1.20.1/dev/src/main/resources/assets/create/textures/block/andesite_casing.png?raw=true);
    background-size: 10vw;
    image-rendering: pixelated;
}