@font-face {
    font-family: 'Minecraftia';
    src: url('assets/Minecraftia-Regular.woff2') format('woff2'),
        url('assets/Minecraftia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background: url(https://github.com/Creators-of-Create/Create/blob/mc1.20.1/dev/src/main/resources/assets/create/textures/block/andesite_casing.png?raw=true);
    background-size: 10vw;
    image-rendering: pixelated;
    font-family: Minecraftia;
}

h1 {
    padding-top: 1vw;
    font-size: 5.5vw;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 12px;
}

ul {
    text-align: left;
    list-style-type: none;
    font-size: 2vw;
}

main {
    text-align: center;
    background: conic-gradient(
        #7c9dfb 90deg,
        #7594f0 90deg 180deg,
        #7c9dfb 180deg 270deg,
        #7594f0 270deg
    );
    background-size: 10vw 10vw;
    outline: 0.5vw solid #eafdff;
    outline-offset: -1vw;
    width: 80vw;
    min-height: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    margin-bottom: 10vw;
}